<%
  if (memory == "not_available") {
%>
<p class="warning">
  Memory statistics not available.
</p>
<% } else { %>
<%
  var sections = {'queue_procs'         : ['queue',  'Queues'],
                  'queue_slave_procs'   : ['queue',  'Queues (slaves)'],
                  'binary'              : ['binary', 'Binaries'],
                  'connection_readers'  : ['conn',   'Connection readers'],
                  'connection_writers'  : ['conn',   'Connection writers'],
                  'connection_channels' : ['conn',   'Connection channels'],
                  'connection_other'    : ['conn',   'Connections (other)'],
                  'mnesia'              : ['table',  'Mnesia'],
                  'msg_index'           : ['table',  'Message store index'],
                  'mgmt_db'             : ['table',  'Management database'],
                  'other_ets'           : ['table',  'Other ETS tables'],
                  'plugins'             : ['proc',   'Plugins'],
                  'other_proc'          : ['proc',   'Other process memory'],
                  'code'                : ['system', 'Code'],
                  'atom'                : ['system', 'Atoms'],
                  'other_system'        : ['system', 'Other system'],
                  'allocated_unused'    : ['unused', 'Allocated unused'],
                  'reserved_unallocated': ['unused', 'Unallocated reserved by the OS']};
%>
<%= format('memory-bar', {sections: sections, memory: memory, total_out: []}) %>
<span class="clear">&nbsp;</span>
<div class="box">
<%
var key = [[{name: 'Queues', colour: 'queue',
             keys: [['queue_procs',         '队列'],
                    ['queue_slave_procs',   '原型']]},
            {name: 'Binaries', colour: 'binary',
             keys: [['binary',              '']]}],

           [{name: 'Connections', colour: 'conn',
             keys: [['connection_readers',  '读'],
                    ['connection_writers',  '写'],
                    ['connection_channels', '频道'],
                    ['connection_other',    '其他']]}],

           [{name: 'Tables', colour: 'table',
             keys: [['mnesia',              '内部数据库表格'],
                    ['msg_index',           '信息存储索引'],
                    ['mgmt_db',             '管理数据库'],
                    ['other_ets',           '其他']]}],

           [{name: 'Processes', colour: 'proc',
             keys: [['plugins',             '插件'],
                    ['other_proc',          '其他']]},
            {name: 'System', colour: 'system',
             keys: [['code',                '编码'],
                    ['atom',                '微粒'],
                    ['other_system',        '其他']
                    ]}],

            [{name: 'Preallocated memory', colour: 'unused',
              keys: [['allocated_unused',     '由运行时预分配，未使用'],
                     ['reserved_unallocated', '未分配的，由OS保留的']]}]];
%>
<%= format('memory-table', {key: key, memory: memory}) %>
</div>

<div class="memory-info">
  上一次更新: <b><%= fmt_date(new Date()) %></b>.<br/>
  内存计算策略: <b><%= memory.strategy %></b>. <span class="help" id="memory-calculation-strategy-breakdown"></span><br/><br/>
  上次更新时使用的内存量与分配量: <span class="help" id="memory-use"></span><br/>
  <table class="facts">
      <tr>
        <th>运行时使用</th>
        <td><%= fmt_bytes(memory.total.erlang) %></td>
      </tr>
      <tr>
        <th>分配的运行时间 </th>
        <td><%= fmt_bytes(memory.total.allocated) %></td>
      </tr>
      <tr>
        <th>操作系统报告的驻留集大小（RSS）</th>
        <td><%= fmt_bytes(memory.total.rss) %></td>
      </tr>
    </table>
</div>

<% } %>
