<h1>概览</h1>
<!-- <% if (user_monitor) { %>
<%= format('partition', {'nodes': nodes}) %>
<% } %>

<div class="updatable">
<% if (overview.statistics_db_event_queue > 1000) { %>
<p class="warning">
  The management statistics database currently has a queue
  of <b><%= overview.statistics_db_event_queue %></b> events to
  process. If this number keeps increasing, so will the memory used by
  the management plugin.

  <% if (overview.rates_mode != 'none') { %>
  You may find it useful to set the <code>rates_mode</code> config item
  to <code>none</code>.
  <% } %>
</p>
<% } %>
<% for (i = 0; i < vhosts.length; i++)
{
    for (var vhost_status_node in vhosts[i].cluster_state) {
        if (vhosts[i].cluster_state[vhost_status_node] != 'running') {
%>
<p class="warning">
  Virtual host <b><%= vhosts[i].name %></b> experienced an error on node <b><%= vhost_status_node %></b> and may be inaccessible
</p>
<% }}} %>
</div> -->

<div class="section">
<h2>情况统计</h2>
<div class="hider updatable">
<%= queue_lengths('lengths-over', overview.queue_totals) %>
<% if (rates_mode != 'none') { %>
  <%= message_rates('msg-rates-over', overview.message_stats) %>
<% } %>

<% if (overview.object_totals) { %>
  <h3>全部计数 <span class="help" id="resource-counts"></span></h3>

  <ul id="global-counts">
    <li>
      <a href="#/connections" class="button">连接: <strong><%= overview.object_totals.connections %></strong></a>
    </li>
    <li>
      <a href="#/channels" class="button">频道: <strong><%= overview.object_totals.channels %></strong></a>
    </li>
    <li>
      <a href="#/exchanges" class="button">交换机: <strong><%= overview.object_totals.exchanges %></strong></a>
    </li>
    <li>
      <a href="#/queues" class="button">队列: <strong><%= overview.object_totals.queues %></strong></a>
    </li>
<% if (overview.object_totals['consumers'] != undefined) { %>
    <li>
      <a href="#" class="button disabled">消息消费者: <strong><%= overview.object_totals.consumers %></strong></a>
    </li>
<% } %>
  </ul>
<% } %>

</div>
</div>

<% if (user_monitor) { %>
<div class="section">
<h2>节点</h2>

<div class="hider updatable">

<table class="list">
  <tr>
    <th>名称</th>
  <% if (show_column('overview', 'file_descriptors')) { %>
    <th>文件描述符 <span class="help" id="file-descriptors"></span></th>
  <% } %>
  <% if (show_column('overview', 'socket_descriptors')) { %>
    <th>套接字描述 <span class="help" id="socket-descriptors"></span></th>
  <% } %>
  <% if (show_column('overview', 'erlang_processes')) { %>
    <th>Erlang 进程</th>
  <% } %>
  <% if (show_column('overview', 'memory')) { %>
    <th>内存 <span class="help" id="memory-calculation-strategy"></span></th>
  <% } %>
  <% if (show_column('overview', 'disk_space')) { %>
    <th>磁盘空间</th>
  <% } %>
  <% if (show_column('overview', 'uptime')) { %>
    <th>正常运行时间</th>
  <% } %>
  <% if (show_column('overview', 'info')) { %>
    <th>信息</th>
  <% } %>
  <% if (user_administrator && show_column('overview', 'reset_stats')) { %>
    <th>重置统计 </th>
  <% } %>
    <th class="plus-minus"><span class="popup-options-link" title="Click to change columns" type="columns" for="overview">+/-</span></th>
  </tr>
<%
   for (var i = 0; i < nodes.length; i++) {
     var node = nodes[i];
     var colspan = group_count('overview', 'Statistics', []) +
                   group_count('overview', 'General', []);
%>
   <tr<%= alt_rows(i)%>>
     <td>
       <a href="#/nodes/<%= esc(node.name) %>" class="button"><%= fmt_node(node.name) %></a>
       <!-- <% if (rabbit_versions_interesting) { %>
         <sub>RabbitMQ <%= fmt_rabbit_version(node.applications) %></sub>
       <% } %> -->
     </td>
<% if (!node.running) { %>
     <td colspan="<%= colspan %>">
       <div class="status-red">
         节点未运行
       </div>
     </td>
<% } else if (node.os_pid == undefined) { %>
     <td colspan="<%= colspan %>">
       <div class="status-yellow">
         <abbr title="The rabbitmq_management_agent plugin should be enabled on this node. If it is not, various statistics will be inaccurate.">
            节点统计不可用</abbr>
       </div>
     </td>
<% } else { %>
  <% if (show_column('overview', 'file_descriptors')) { %>
     <td>
    <% if (node.fd_used != 'install_handle_from_sysinternals') { %>
        <%= node_stat_count_bar('fd_used', 'fd_total', node, FD_THRESHOLDS) %>
    <% } else { %>
        <p class="c">handle.exe遗漏 <span class="help" id="handle-exe"></span><sub><%= node.fd_total %> 可用</sub></p>

    <% } %>
     </td>
  <% } %>
  <% if (show_column('overview', 'socket_descriptors')) { %>
     <td>
        <%= node_stat_count_bar('sockets_used', 'sockets_total', node, FD_THRESHOLDS) %>
     </td>
  <% } %>
  <% if (show_column('overview', 'erlang_processes')) { %>
     <td>

        <%= node_stat_count_bar('proc_used', 'proc_total', node, PROCESS_THRESHOLDS) %>
     </td>
  <% } %>
  <% if (show_column('overview', 'memory')) { %>
     <td>

    <% if (node.mem_limit != 'memory_monitoring_disabled') { %>
        <%= node_stat_bar('mem_used', 'mem_limit', '上限', node, fmt_bytes_axis,
                          node.mem_alarm ? 'red' : 'green',
                          node.mem_alarm ? 'memory-alarm' : null) %>
    <% } else { %>
       <%= fmt_bytes(node.mem_used) %>
    <% } %>
     </td>
  <% } %>
  <% if (show_column('overview', 'disk_space')) { %>
     <td>

    <% if (node.disk_free_limit != 'disk_free_monitoring_disabled') { %>
        <%= node_stat_bar('disk_free', 'disk_free_limit', '下限', node, fmt_bytes_axis,
                          node.disk_free_alarm ? 'red' : 'green',
                          node.disk_free_alarm ? 'disk_free-alarm' : null, true) %>
    <% } else { %>
         (不可用)
    <% } %>
     </td>
  <% } %>
  <% if (show_column('overview', 'uptime')) { %>
     <td><span><%= fmt_uptime(node.uptime) %></span></td>
  <% } %>
  <% if (show_column('overview', 'info')) { %>
     <td>
         <!-- <abbr title="消息传输速率"><%= fmt_string(node.rates_mode) %></abbr> -->
       <% if (node.type == 'disc') { %>
         <abbr title="代理定义在磁盘上保存">磁盘</abbr>
       <% } else { %>
         <abbr title="代理定义保存在RAM中。如果需要，消息仍将写入磁盘">RAM</abbr>
       <% } %>
       <%= fmt_plugins_small(node) %>
        <abbr title="内存计算策略"><%= fmt_string(node.mem_calculation_strategy) %></abbr>
     </td>
  <% } %>
  <% if(user_administrator && show_column('overview', 'reset_stats')) { %>
    <td>
      <form action="#/reset_node" method="delete" class="confirm inline-form">
        <input type="hidden" name="node" value="<%= node.name %>"/>
        <input type="submit" value="此节点"/>
      </form>
      <form action="#/reset" method="delete" class="confirm inline-form-right">
          <input type="submit" value="所有节点"/>
      </form>
  <% } %>
<% } %>
   </tr>
<% } %>
</table>

</div>
</div>

<div class="section-hidden">
<h2>端口与上下文 </h2>
<div class="hider updatable">
<h3>监听端口</h3>
<table class="list">
  <tr>
    <th>协议</th>
<% if (nodes_interesting) { %>
    <th>节点</th>
<% } %>
    <th>绑定</th>
    <th>端口</th>
  </tr>
  <%
      for (var i = 0; i < overview.listeners.length; i++) {
          var listener = overview.listeners[i];
  %>
  <tr<%= alt_rows(i)%>>
    <td><%= listener.protocol %></td>
<% if (nodes_interesting) { %>
    <td><%= fmt_node(listener.node) %></td>
<% } %>
    <td><%= listener.ip_address %></td>
    <td><%= listener.port %></td>
  </tr>
  <% } %>
</table>
<h3>网络环境</h3>
<table class="list">
  <tr>
    <th>环境</th>
<% if (nodes_interesting) { %>
    <th>节点</th>
<% } %>
    <th>绑定</th>
    <th>端口</th>
    <th>加密套接字</th>
    <th>路径</th>
  </tr>
  <%
    for (var i = 0; i < overview.contexts.length; i++) {
        var context = overview.contexts[i];
  %>
    <tr<%= alt_rows(i)%>>
      <td><%= context.description %></td>
<% if (nodes_interesting) { %>
      <td><%= fmt_node(context.node) %></td>
<% } %>
      <td><%= (context.ip != undefined) ? context.ip : "0.0.0.0" %></td>
      <td><%= context.port %></td>
      <td class="c"><%= fmt_boolean(context.ssl || false) %></td>
      <td><%= context.path %></td>
    </tr>
  <% } %>
</table>
</div>
</div>

<div class="section-hidden administrator-only">
<h2>导出定义</h2>
<div class="hider">
    <table class="two-col-layout">
      <tr>
        <td>
          <p>
            <label for="download-filename">文件下载：</label><br/>
            <input type="text" id="download-filename" value="<%= fmt_download_filename(overview.node) %>" class="wide" />
          </p>
        </td>
        <td>
          <p>
            <button id="download-definitions">下载代理定义</button>
            <span class="help" id="export-definitions"></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
            <% if (vhosts_interesting) { %>
          <label>虚拟主机:</label>
            <select name="vhost-download">
              <option value="all">全部</option>
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= fmt_string(vhosts[i].name) %>"><%= fmt_string(vhosts[i].name) %></option>
              <% } %>
            </select> <span class="help" id="export-definitions-vhost"></span>
<% } else { %>
            <input type="hidden" name="vhost" value="all"/>
<% } %>
        </td>
      </tr>
    </table>
</div>
</div>

<div class="section-hidden administrator-only">
<h2>导入定义</h2>
<div class="hider">
  <form  method="post" enctype="multipart/form-data">
    <table class="two-col-layout">
      <tr>
        <td>
          <p>
            <label>上传定义文件:</label><br/>
            <input type="file" name="file"/>
          </p>
        </td>
        <td>
          <p>
            <input type="submit" value="上传代理定义" onclick="submit_import($(this).closest('form')[0]); return false"/>
            <span class="help" id="import-definitions"></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
         <% if (vhosts_interesting) { %>
          <label>虚拟主机</label>
            <select name="vhost-upload">
              <option value="all">All</option>
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= fmt_string(vhosts[i].name) %>"><%= fmt_string(vhosts[i].name) %></option>
              <% } %>
            </select> <span class="help" id="import-definitions-vhost"></span>

<% } else { %>
            <input type="hidden" name="vhost" value="all"/>
<% } %>
        </td>
      </tr>
    </table>
  </form>
</div>
</div>

<% if (overview.rates_mode == 'none') { %>
<div class="section-hidden">
<h2>禁用消息速率 </h2>
<div class="hider">
<p>
  前消息速率已禁用。
</p>
<p>若要重新启用消息速率，请编辑配置文件和设置<code>速率模式 </code> 到 <code>基本的</code>
  或 <code>详细的</code>在应用中
</p>
</div>
</div>
<% } %>
<% } %>
